@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

html,body{
    padding: 0;
    margin: 0;
    height: 100%;
    background-image: url(/img/papeldefundo.jpg);
}
.bgCor1{
    background-color: lightpink;
}
.bgCor2{
    background-color: magenta;
    color: white;
}
.bgCor3{
    color: white;
    font-size: 20px;
}
.fonte{
    font-family: 'Great Vibes', cursive;
    font-size: 50px;
}
.container-fluid{
    margin-top: 0;
    padding-bottom: 1%;
}
.ppoema{
    font-size: 20px;
    line-height: 40px;
}



